:root {
    --couleur-primaire: #ffffff;   /* Blanc */
    --couleur-secondaire: #e573a6; /* Rose */
}

section {
    min-height: 100vh;
}

body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles pour la section d'accueil */
#accueil {
    background-color: var(--couleur-primaire);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
}

.titre {
    font-size: 5vw;
    font-family: 'Garet', sans-serif;
    z-index: 2;
    margin: 0%;
}

.logo {
    width: 30%;
    height: auto;
    z-index: 1;
}

.noms {
    margin: 0%;
    font-size: 2vw;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

hr.separateur {
    width: 100%;
    border: 0;
    height: 4px;
    background: var(--couleur-secondaire);
    margin: 20px auto;
}

.lien-contact {
    color: #f46c8c;
    text-decoration: underline;
    text-underline-offset: 6px;
    font-size: 2rem;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

/* TODO : adapter le style du bouton au responsive */
.btn-principal {
    background-color: #f46c8c;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    border-radius: 70px;
    padding: 2vw 2.5vw;
    cursor: pointer;
    font-family: 'Public Sans', sans-serif;
}